#main,
#footer {
	display: none;
}

#gauge {
	padding-top: 25px;
}

#logo {
  width: 60px;
  padding-left: 55px;
  padding-bottom: 5px;
}

.redClass, .yellowClass, .greenClass{
	border-radius: 50%;
	text-align: center;
}
.redClass {
	background: #e23528;
}

.yellowClass {
	background: #f5be1f;

}

.greenClass {
	background: #98bc41;
}

.scoreLabelDiv {
	display: inline-block;
}

.autocomplete-suggestions {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  margin: 1px 0 0 55px;
}

.autocomplete-suggestion {
  font-size: 1.2em;
  line-height: 1.5em;
}

a.reco-item {
  color: #444;
  text-decoration: none;
}

a.reco-item:hover {
  text-decoration: underline;
}

.scoreLabel {
  color: #444;
	line-height: 70px;
	width: 70px;
	display: inline-block;
	margin: 10px 0 10px 0;
	height: 70px;
  text-shadow: 1px 1px 2px #FFF;
}

#scoreNumber, #scoreHeader h1 {
	margin-top: 18px;
	text-align: center;
	font-size: 1.5em;
}
.webui-popover-content table {
  width: 100%;
}

.squarePopover {
	height: 40px;
	width: 40px;
}

#pointsNumber {
	margin-top: 30px;
	font-size: 3em;
	text-align: center;
}
