#main,
#footer {
	display: none;
}

#gauge {
	padding-top: 25px;
}

#logo {
  width: 60px;
  padding-left: 55px;
  padding-bottom: 5px;
}

.redClass, .yellowClass, .greenClass{
	border-radius: 50%;
	text-align: center;
}
.redClass {
	background: #e23528;
}

.yellowClass {
	background: #f5be1f;

}

.greenClass {
	background: #98bc41;
}

.scoreLabelDiv {
	display: inline-block;
}

.scoreLabel {
	line-height: 70px;
	width: 70px;
	display: inline-block;
	margin: 10px 0 10px 0;
	height: 70px;
}

#scoreNumber, #scoreHeader h1 {
	margin-top: 18px;
	text-align: center;
	font-size: 1.5em;
}
.webui-popover-content table {
  width: 100%;
}

.squarePopover {
	height: 40px;
	width: 40px;
}

#pointsNumber {
	margin-top: 30px;
	font-size: 3em;
	text-align: center;
}
